.vscode/*
config/*
screenshots/*
*.py
computer/0/*
computer/1/*
computer/2/*
computer/3/*
computer/4/*
computer/5/*
computer/7/*
computer/8/*
computer/9/*
computer/10/*
computer/11/*
computer/6/wolfos/logs/*
computer/6/basaltLog.txt
computer/6/wolfos/perms
computer/6/wolfos/registry
computer/6/wolfos/programList
computer/6/wolfos/libs/basalt.lua
computer/6/wolfos/libs/log4l.lua
computer/6/wolfos/libs/xml.lua
computer/6/wolfos/libs/archive.lua
computer/6/wolfos/libs/LibDeflate.lua
computer/6/wolfos/libs/otp.lua
computer/6/.settings
